## .NET Core
bin/
obj/
*.user
*.userosscache
*.sln.docstates

## Visual Studio
.vs/
*.suo
*.ntvs*
*.njsproj
*.sln

## Environment files
*.env
appsettings.Development.json

## Logs
logs/
*.log

## Docker
.docker/

## OS specific
.DS_Store
Thumbs.db